<div>
<% bookmarks.map ((bookmark,index) => { %>
    <p></p>
    <span id='<%= `url${index + 1}` %>'>url: <%= bookmark.url %></span><br>
    <span id='<%= `tag${index + 1}` %>'> tag: <%= bookmark.tag %></span><br>
    <span id='<%= `comment${index + 1}` %>'>comment: <%= bookmark.comment %></span><br>
    <form action='/<%=bookmark.id%>?_method=DELETE' method='post'>
        <button id='<%=`delete-button-${index + 1}` %>' type="submit" >Delete</button>
    </form>
    <form action='/update-button/<%=bookmark.id%>' method='post'>
        <input id='<%=`update-button-${index +1 }` %>' type='submit' value='Update'>
    </form>
<% }) %>
</div>