<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Best Bookmark Manager</h1>

    <form action='/' method='post'>
        <input id="url-box" type='text' name='url' placeholder='url'>
        <input id="tag-box" type='text' name='tag' placeholder='tag'>
        <input id="comment-box" type='text' name='comment' placeholder='comment'>
        <input id="add-button" type='submit' value='Add Bookmark'>
    </form>

    <form action='/update' method='post'>
        <select id="update-dropdown" name='update'>
            <% bookmarks.map (bookmarks => { %>
                <option id='<%=`url${bookmarks.id}`%>' value='<%= bookmarks.url %>'>
                    <%=`${bookmarks.url}`%>
                </option>
            <% }) %>
        </select>
        <input id='update-tag' type='text' name='updateTag' placeholder='tag'>
        <input id='update-comment' type='text' name='updateComment' placeholder='comment'>
        <input id="update-button" type='submit' value='Update Bookmark'>
    </form>

    <form action='/delete' method='post'>
        <select id="bookmark-dropdown" name='dropdown'>
            <% bookmarks.map (bookmarks => { %>
                <option id='<%=`url${bookmarks.id}`%>' value='<%= bookmarks.url %>'>
                    <%=`${bookmarks.url}`%>
                </option>
            <% }) %>
        </select>
        <input id="delete-button" type='submit' value='Delete Bookmark'>
    </form>
  
    <% bookmarks.map (bookmarks => { %>
        <p></p>
        <span id='<%= `url${bookmarks.id}` %>'>url: <%= bookmarks.url %></span><br>
        <span id='<%= `tag${bookmarks.id}` %>'> tag: <%= bookmarks.tag %></span><br>
        <span id='<%= `comment${bookmarks.id}` %>'>comment: <%= bookmarks.comment %></span><br>
    <% }) %>

   


</body>
</html>





